<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.listeners.MyListeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/dnyan/IdeaProjects/Selenium Hybrid Framework">
        <classes>
<!--            <class name="com.tests.LoginPageTest">-->
<!--            <methods><include name="firstProgram"/>-->
<!--            </methods>-->
<!--            </class>-->
            <class name="com.tests.RegisterPageTest">
            <methods>
                <include name="firstProgram"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>